<div class="container">
    <div class="modal fade modal-xl" id="popupModel" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <h4 class="modal-title mr-auto">Message</h4>
                </div>
                <div class="modal-body">
                    <p class="modalMessage"></p>
                </div>
                <div class="modal-footer">
                    <button value="true" type="button" id="ok" class="btn btn-success mr-auto" data-dismiss="modal">Ok</button>
                    <button id="cancle" value="false" type="button" class="btn btn-danger ml-auto" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade modal-xl" id="popupModelDelete" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <h4 class="modal-title mr-auto">Message</h4>
                </div>
                <div class="modal-body">
                    <p class="modalMessage"></p>
                </div>
                <div class="modal-footer">
                    <button value="true" type="button" id="ok" class="btn btn-success mr-auto" data-dismiss="modal">Ok</button>
                    <button id="cancleDelete" value="false" type="button" class="btn btn-danger ml-auto" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>
</div>
